:root {
  --topbar-height: 56px;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.topbar {
  height: var(--topbar-height);
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
  background: #233766;
  color: #fff;
  box-shadow: 0 2px 6px rgba(2,6,23,0.2);
}

.topbar .title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.4px;
}

#mapa {
  height: calc(100vh - var(--topbar-height));
  width: 100%;
  position: relative;
}

.wrap {
  display: flex;
  flex-direction: column;
}

/* Sidebar styles */
#mapa .leaflet-sidebar {
  position: absolute !important;
  top: 0.05;
  left: 0.01;
  bottom: 0;
  height: 97.5% !important;
  
  z-index: 650;
  background: #13294b;
  color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.35);
}

#mapa .leaflet-sidebar .leaflet-sidebar-tabs {
  background: transparent;
}
#mapa .leaflet-sidebar .leaflet-sidebar-tabs .fa {
  color: white;
  font-size: 18px;
}

#mapa .leaflet-sidebar .leaflet-sidebar-header {
  background: #13294b;
  color: white;
}

#mapa .leaflet-sidebar .leaflet-sidebar-content {
  color: #13294b;
 / * background-color: #13294b !important; * /
}



.leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
}

#home {
  padding: 8px 12px;
}

#home label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}
.layer-group {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 6px;
  overflow: hidden;
}

.group-header {
  background-color: #f0f0f0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 6px 10px;
  font-weight: bold;
  border: none;
  outline: none;
}

.group-header:hover {
  background-color: #e0e0e0;
}

.group-content {
  padding: 6px 12px;
  display: none;
}

.group-content label {
  display: block;
  margin: 4px 0;
}

